.clearFix {
  clear: both;
  content: "";
  display: block; }

body {
  margin: 0;
  overflow-x: hidden; }

html {
  color: #f7f3ea;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px; }

.firstBlock {
  background-color: #87509c;
  width: 100vw;
  height: 100%; }

.navBtnBar {
  display: none; }

.navBarRow {
  margin: 0 210px 6.12%;
  font-size: 1em;
  padding-top: 7%; }

.navMainBar {
  float: right;
  margin: 12px;
  padding: 1%;
  text-transform: uppercase;
  transition: background-color 0.8s, border-radius 0.5s;
  cursor: pointer; }
  .navMainBar:hover {
    background-color: #643a79;
    border-radius: 5px; }

.welcomeBanner {
  width: 80%;
  margin: 6% auto;
  font-size: 2.3em; }

.welcomeText {
  text-align: center;
  margin: 0; }

.workWithUsBtn {
  width: 23%;
  margin: 30.5px auto;
  text-align: center;
  border-bottom: 4px solid #c86a40;
  background-color: #eb7d4b;
  border-radius: 5px;
  transition: background-color 0.8s; }
  .workWithUsBtn:hover {
    background-color: #c86a40;
    border-bottom: 4px solid #eb7d4b; }

.workWithUsBtn p {
  padding: 7%;
  margin: 0;
  text-transform: uppercase; }

.secondBlock {
  background-color: #17c2a4;
  width: 100vw; }

.secondBlockTitle {
  margin: 0 auto;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5.2%; }

.secondBlockTitle p {
  margin: 0; }

.breakLineOne {
  background-color: #14a58c;
  width: 8%;
  height: 4px;
  margin: 22px auto; }

.secondBlockIntro {
  margin-bottom: 41px; }

.secondBlockIntroText {
  text-align: center;
  margin: 0; }

.iconsRowBanner {
  margin: 0 auto;
  width: 988px; }

.iconsBanner {
  display: inline-block;
  width: 19.5%;
  margin: 25px;
  text-align: center; }

.iconsBanner p {
  font-size: 0.9em; }

.iconsBanner h3 {
  font-size: 1.5em; }

.iconsItself {
  width: 80%; }

.thirdBlock {
  background-color: #3c5499;
  width: 100vw; }

.thirdBlockTitle {
  margin: 0 auto;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 7.98%; }

.thirdBlockTitle p {
  margin: 0; }

.breakLineTwo {
  background-color: #273a71;
  width: 8%;
  height: 4px;
  margin: 22px auto; }

.addressText {
  font-size: 1em;
  text-align: center;
  margin: 0 auto; }

.formBlock {
  width: 80%;
  margin: 0 auto; }

.labelsRow {
  width: 100%; }

.label {
  width: 40%;
  display: inline-block; }

.labelEmail {
  margin-left: 18.5%; }

.inputsRow {
  width: 100%;
  margin-bottom: 24px; }

#nombre, #email, #message {
  background-color: #273a71;
  border-radius: 5px;
  border: 0; }

#nombre, #email {
  width: 40%;
  height: 55px; }

#email {
  margin-left: 18%; }

#message {
  width: 100%;
  height: 30%; }

.messageBtnWrapper {
  text-align: center; }

.sendMessageBtn {
  width: 29%;
  height: 67px;
  background-color: #30bae7;
  border-bottom: 5px solid #299ec5;
  border: 0;
  margin: 59px auto;
  color: #f7f3ea;
  font-size: 1em;
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
  transition: background-color 0.8s;
  border-radius: 5px; }
  .sendMessageBtn:hover {
    background-color: #299ec5;
    border-bottom: 5px solid #30bae7; }

.footerBlock {
  background-color: #344b8e;
  height: 109px;
  width: 100vw; }

.footerBlock div + div {
  margin-left: 28px; }

.socialBlock {
  width: 625px;
  margin: 0 auto; }

.socialMediaBtn {
  display: inline-block;
  margin-top: 53px;
  text-align: center;
  cursor: pointer;
  transition: color 0.8s; }
  .socialMediaBtn:hover {
    color: #30bae7; }

@media only screen and (max-width: 1024px) {
  .navMainWrapper {
    display: none; }

  .navBtnBar {
    display: inline-block;
    height: 3%;
    width: 2%;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    position: fixed;
    border-radius: 5px;
    background-color: #eb7d4b;
    transition: background-color 0.8s;
    top: 0;
    right: 0; }
    .navBtnBar:hover {
      background-color: #c86a40; }
    .navBtnBar:hover > .navMainWrapper {
      display: block;
      position: fixed;
      top: 0;
      right: 4.5%;
      background-color: #273a71;
      width: 45%;
      border-radius: 5px; }

  .navMainBar {
    padding: 0; }

  .navBarRow {
    margin: 0;
    font-size: 1em;
    padding-top: 7%;
    text-align: center; }

  .welcomeBanner {
    font-size: 1.3em; }

  .workWithUsBtn {
    width: 30%; }

  .workWithUsBtn p {
    padding: 7%;
    margin: 0;
    font-size: 0.9em;
    text-transform: uppercase; }

  .secondBlock {
    background-color: #17c2a4;
    width: 100vw; }

  .secondBlockTitle {
    font-size: 2em; }

  .breakLineOne {
    width: 30%; }

  .iconsRowBanner {
    height: 100%;
    width: 100%; }

  .iconsBanner {
    display: inline-block;
    width: 29%;
    margin: 0 10%; }

  .iconsBanner h3 {
    margin: 0; }

  .iconsItself {
    width: 50%; }

  .thirdBlockTitle {
    font-size: 2em; }

  .breakLineTwo {
    width: 30%; }

  .addressText {
    font-size: 1em; }

  .formBlock {
    width: 80%;
    margin: 0 auto; }

  .labelsRow {
    width: 100%; }

  .label {
    width: 39%; }

  #nombre, #email {
    width: 39%; }

  .sendMessageBtn {
    width: 29%; }

  .footerBlock {
    height: 109px;
    width: 100vw; }

  .socialBlock {
    width: 625px;
    margin: 0 auto; } }
@media only screen and (max-width: 767px) {
  .navMainBar {
    display: none; }

  .navBarRow {
    margin: 0;
    font-size: 1em;
    padding-top: 7%;
    text-align: center; }

  .welcomeBanner {
    font-size: 1.3em; }

  .workWithUsBtn {
    width: 44%; }

  .workWithUsBtn p {
    padding: 7%;
    margin: 0;
    font-size: 0.9em;
    text-transform: uppercase; }

  .secondBlock {
    width: 100vw; }

  .secondBlockTitle {
    font-size: 1.5em; }

  .breakLineOne {
    width: 30%; }

  .iconsRowBanner {
    height: 100%;
    width: 100%; }

  .iconsBanner {
    display: inline-block;
    width: 29%;
    margin: 0 10%; }

  .iconsBanner h3 {
    margin: 0; }

  .iconsItself {
    width: 50%; }

  .thirdBlockTitle {
    font-size: 1.5em; }

  .breakLineTwo {
    width: 30%; }

  .addressText {
    font-size: 0.7em; }

  .formBlock {
    width: 80%;
    margin: 0 auto; }

  .labelsRow {
    width: 100%; }

  .label {
    width: 39%; }

  #nombre, #email {
    width: 39%; }

  .sendMessageBtn {
    width: 100%; }

  .footerBlock {
    height: 50px; }

  .socialBlock {
    display: none; } }
@media only screen and (max-width: 320px) {
  .navMainBar {
    display: none; }

  .navBarRow {
    margin: 0;
    font-size: 1em;
    padding-top: 7%;
    text-align: center; }

  .welcomeBanner {
    font-size: 1.3em; }

  .workWithUsBtn {
    width: 44%; }

  .workWithUsBtn p {
    padding: 7%;
    margin: 0;
    font-size: 0.9em;
    text-transform: uppercase; }

  .secondBlock {
    background-color: #17c2a4;
    width: 100vw; }

  .secondBlockTitle {
    font-size: 1.5em; }

  .breakLineOne {
    width: 30%; }

  .iconsRowBanner {
    height: 100%; }

  .iconsBanner {
    display: block;
    width: 90%;
    margin: 0 auto; }

  .iconsBanner h3 {
    margin: 0; }

  .iconsItself {
    width: 50%; }

  .thirdBlockTitle {
    font-size: 1.5em; }

  .breakLineTwo {
    width: 30%; }

  .addressText {
    font-size: 0.7em; }

  .formBlock {
    width: 80%;
    margin: 0 auto; }

  .labelsRow {
    width: 100%; }

  .label {
    width: 39%; }

  #nombre, #email {
    width: 39%; }

  .sendMessageBtn {
    width: 100%; }

  .footerBlock {
    height: 50px; }

  .socialBlock {
    display: none; } }

/*# sourceMappingURL=style.css.map */
