@media only screen and (max-width: 767px){

    .navMainBar {
        display: none;
    }

    .navBarRow {
        margin: 0;
        font-size: 1em;
        padding-top: 7%;
        text-align: center;
    }

    .welcomeBanner {
        font-size: 1.3em;
    }

    .workWithUsBtn {
        width: 44%;
    }

    .workWithUsBtn p {
        padding: 7%;
        margin: 0;
        font-size: 0.9em;
        text-transform: uppercase;    
    }

    //Second Block Styles.
    //////////////////////
    .secondBlock {
        width: 100vw;
    }

    .secondBlockTitle {
        font-size: 1.5em;
    }

    .breakLineOne {
        width: 30%;
    }

    .iconsRowBanner {
        height: 100%;
        width: 100%;
    }

    .iconsBanner {
        display: inline-block;
        width: 29%;
        margin: 0 10%;
    }

    .iconsBanner h3 {
        margin: 0;
    }

    .iconsItself {
        width: 50%;
    }

    //Third Block Styles.
    /////////////////////

    .thirdBlockTitle {
        font-size: 1.5em;
    }

    .breakLineTwo {
        width: 30%;
    }

    .addressText {
        font-size: 0.7em;
    }

    //Form Block.
    /////////////
    .formBlock {
        width: 80%;
        margin: 0 auto;
    }

    .labelsRow {
        width: 100%;
    }

    .label {
        width: 39%;
    }

    #nombre, #email {
        width: 39%;
    }

    .sendMessageBtn {
        width: 100%;
    }

    //Footer Blocks.
    ////////////////
    .footerBlock {
        height: 50px;
    }

    .socialBlock {
        display: none;
    }
}