//General Styles.
/////////////////
.clearFix {
    clear: both;
    content: "";
    display: block;
}

body {
    margin: 0;
    overflow-x: hidden;
}

html {
    color: #f7f3ea;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}

//First Block Styles.
/////////////////////
.firstBlock {
    background-color: #87509c;
    width: 100vw;
    height: 451px;
}

.navBarRow {
    margin: 0 210px 73.5px;
    font-size: 16px;
    padding-top: 58px;
}

.navMainBar {
    float: right;
    margin: 12px; 
    padding: 8px;
    text-transform: uppercase;
    transition: background-color 0.8s, border-radius 0.5s;
    cursor: pointer;
    &:hover {
        background-color: #643a79;
        border-radius: 5px;
    }
}

.welcomeBanner {
    width: 907px;
    margin: 30.5px auto;
    font-size: 42.16px;
}

.welcomeText {
    text-align: center;
    margin: 0;
}

.workWithUsBtn {
    width: 291px;
    height: 64px;
    margin: 30.5px auto;
    text-align: center;
    border-bottom: 4px solid #c86a40;
    background-color: #eb7d4b;
    border-radius: 5px;
    transition: background-color 0.8s;
    &:hover {
        background-color: #c86a40;
        border-bottom: 4px solid #eb7d4b;
    }
}

.workWithUsBtn p {
    padding: 22px 72px;
    margin: 0;
    text-transform: uppercase;    
}

//Second Block Styles.
//////////////////////
.secondBlock {
    background-color: #17c2a4;
    height: 677px; 
    width: 100vw;
}

.secondBlockTitle {
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase; 
    padding-top: 120px;   
}

.secondBlockTitle p {
    margin: 0;
}

.breakLineOne {
    background-color: #14a58c;
    width: 87px;
    height: 4px;
    margin: 22px auto;
}

.secondBlockIntro {
    margin-bottom: 41px;
}

.secondBlockIntroText {
    text-align: center;
    margin: 0;
}

//Icons Banner.
///////////////
.iconsRowBanner {
    margin: 0 auto;
    width: 988px;
}

.iconsBanner {
    display: inline-block;
    width: 194px;
    margin: 25px;
    text-align: center;
}

.iconsBanner p {
    font-size: 16px;
}

.iconsBanner h3 {
    font-size: 24px;
}

.iconsItself {
    width: 120px;
}

//Third Block Styles.
/////////////////////
.thirdBlock {
    background-color: #3c5499;
    height: 804px;
    width: 100vw;
}

.thirdBlockTitle {
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase; 
    padding-top: 100px;   
}

.thirdBlockTitle p {
    margin: 0;
}

.breakLineTwo {
    background-color: #273a71;
    width: 87px;
    height: 4px;
    margin: 22px auto;
}

.addressText {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

//Form Block.
/////////////
.formBlock {
    width: 860px;
    margin: 0 auto;
}

.labelsRow {
    width: 100%;
}

.label {
    width: 40%;
    display: inline-block;
}

.labelEmail {
    margin-left: 18.5%;
}

.inputsRow {
    width: 100%;
    margin-bottom: 24px;
}

#nombre, #email, #message {
    background-color: #273a71;
    border-radius: 5px;
}

#nombre, #email {
    width: 40%;
    height: 55px;
}

#email {
    margin-left: 18%;
}

#message {
    width: 100%;
    height: 200px;
}

.messageBtnWrapper {
    text-align: center;
}

.sendMessageBtn {
    width: 292px;
    height: 67px;
    background-color: #30bae7;
    border-bottom: 5px solid #299ec5;
    margin: 59px auto;
    color: #f7f3ea;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
    transition: background-color 0.8s;
    border-radius: 5px;
    &:hover {
        background-color: #299ec5;
        border-bottom: 5px solid #30bae7;
    }
}

//Footer Blocks.
////////////////
.footerBlock {
    background-color: #344b8e;
    height: 109px;
    width: 100vw;
}

.footerBlock div + div {
    margin-left: 28px;
}

.socialBlock {
    width: 625px;
    margin: 0 auto;
}

.socialMediaBtn {
    display: inline-block;
    margin-top: 53px;
    text-align: center;
    cursor: pointer;
    transition: color 0.8s;
    &:hover {
        color: #30bae7;
    }
}

