$purpleBackgroundColor: #87509c;
$orangeBackgroundColor: #eb7d4b;
$greenBackgroundColor: #17c2a4;
$blueBackgroundColor: #3c5499;
$blueBackgroundColorTransition: #299ec5;
$orangeBackgroundColorTransition: #c86a40;
$blueBackgroundColorFooter: #344b8e;
$blueborderColor: #30bae7;
$upperCaseTransformation: uppercase;
$fontFamily: 'Titillium Web', sans-serif;